alembic==1.7.5
bcrypt==3.2.0
cachelib==0.5.0
cffi==1.15.0
click==7.1.2
Flask==2.0.2
Flask-Bcrypt==1.0.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
pi==0.1.2
pycparser==2.21
PyJWT==2.1.0
python-dotenv==0.19.2
six==1.16.0
SQLAlchemy==1.4.29
Werkzeug==2.0.2
